.headerComponent {
	boxshadow: 2px 5px 2px red;
	background: #d92e15;
	justify-content: space-between;
	.logo {
		font-size: 24px;
		background: white;
		padding: 10px;
		margin: 0 10px;
		border-radius: 10px;
		cursor: pointer;
	}
}

.phoneModelShow {
	border: 1px solid silver;
	padding: 12px;
	transition: 0.8s ease;
}

.catalogItems {
	width: 750px;
	background: rgb(255, 254, 256);
}

.search_panel {
	width: 450px;
}

.search_panel::placeholder {
	color: red !important;
}

.loggedInUser {
	max-width: 150px;
	width: 100%;
	height: 52px;

	img {
		width: 60px;
		fill: red;
	}
}

.basketBtn {
	max-width: 160px;
}

.languageOptions {
	width: 95px;
	height: 40px;
	max-width: 100%;
	background: #f1f5f9;
	margin-left: 50px;
}

.history_title {
	font-size: 22px;
	font-weight: bold;
}

.all_transactions {
	color: red;
	font-size: 18px;
	border: 1px solid red;
	padding: 5px 12px;
	margin-top: 12px;
}

.historyTransactions {
	width: 750px;
	background: rgb(255, 254, 256);
	flex-direction: column;
}

.show_hide__element {
	transition: 0.8s ease;
}

@media (max-width: 1200px) {
	.headerComponent {
		flex-wrap: wrap;
		justify-content: flex-end;
	}
}

@media (max-width: 1000px) {
	.headerComponent {
		font-size: 14px !important;
		flex-direction: row;
		overflow-x: hidden;
		.logo {
			font-size: 20px;
		}
		.phoneModelShow {
			padding: 10px;
		}
		.search_panel {
			width: 300px;
		}
		.search_panel::placeholder {
			font-size: 12px;
		}
		.phoneModelShow,
		.basketBtn {
			margin: 20px 0;
		}
		.show_hide__element {
			img {
				width: 20px;
			}
			.text-xl {
				font-size: 14px;
			}
		}
	}
}
