.cart-item{
margin-bottom: 10px;
}

.cart-card {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 20px;
}

.card-title {
	margin: 0;
	margin-bottom: 10px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #223869;
}

.card-count-info {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	color: #747474;
}

.card-minus-btn {
	margin-left: 10px;
	margin-right: 5px;
	width: 10px;
	height: 10px;
}
.card-item-count{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
   
}
.card-add-btn{
    margin-left: 5px;
	width: 10px;
	height: 10px;
}

.card-total{
text-align: end;
}

.card-total-price{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    padding: 6px 25px;
    color: #FFFFFF;
    background: #D92E15;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
}

.card-delete-btn{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #223869;
    margin-top: 12px;
    border-bottom: 1px solid #223869;
    
}