.create_comment {
	display: flex;
	flex-direction: column;
}

.comment_form_content {
	border: 1px solid silver;
	margin: 10px 0;
	padding: 10px;
}

.comment_btn {
	background: rgb(217, 46, 21);
	color: #eee;
}

.comment_btn:hover {
	background: red;
	color: #fff;
}
