.myOrders {
	max-width: 100%;
	background: white;
	padding: 20px;
	border-radius: 5px;
	margin: 10px 30px;
	border: 1px solid red;
}

.detailBlock {
	border: 1px solid red;
	padding: 10px 15px;
	margin: 20px auto;
	border-radius: 5px;
}

.history_content_unical {
	border: 1px solid red;
	margin: 20px 0;
}

.nameAndPriceColumn {
	padding: 29px 25px;
	font-size: 18px;
	margin-right: 20px;
}

.historyEmpty {
	font-size: 22px;
	color: red;
	margin-left: 32px;
	height: 80px;
}

@media (max-width: 676px) {
	.detailPaymentHistory {
		flex-direction: column;
	}

	.openHideDetail {
		border: 1px solid red;
		padding: 10px;
		width: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 30px;
		img {
			width: 20px !important;
		}
	}

	.history_content_unical {
		flex-direction: column;
		div:first-child,
		div:last-child {
			width: 100%;
		}
	}
	.nameAndPriceColumn {
		width: 100% !important;
	}

	.priceForProduct {
		font-size: 18px !important;
	}

	.product_price {
		font-size: 16px;
	}
}

@media (max-width: 550px) {
	.myOrders {
		width: 300px !important;
	}
}
