.card {
	background-color: white;
	border: 1px solid transparent;
	cursor: pointer;
	transition: 0.6s ease-in-out;
}

.card:hover {
	border: 2px solid red;
	background: white;
	color: #D92E15;

	.stars {
		background: linear-gradient(to right, #ffc107 20%, white 100%);
		background-color: rebeccapurple;
	}
}

.stars {
	background: linear-gradient(to right, #ffc107 100%, white 100%);
}
