.feedback_item {
	color: #223869;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
}

.feedback_value {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	text-align: end;
	color: #5f5f5f;
}

.wish_to_feedback {
	display: block;
	width: max-content;
	margin: 25px 0;
}

.feedback_link {
	font-size: 15px;
	color: red;
	padding: 0px 0px 10px 10px;
}

.feedback_link :hover {
	border: 1px dotted purple;
	color: white;
	background: rgb(217, 46, 21);
}
