.checkout_container {
	background: #f6f6f6;
	border-bottom: 1px solid #ddd;
	border-top-left-radius: 5px;
	border: none;
	border-top-right-radius: 5px;
}
.checkout_direction {
	background: #d92e15;
	color: #fff;
	font-size: 15px;
	padding: 8px 22px 8px 15px;
	border-radius: 10px;
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
}

.checkout_direction:nth-child(3) {
	background: #223869;
}

.checkout_direction:hover {
	transition: 0.6s ease;
	background: #223869;
}

.get_offer_checkout {
	font-size: 22px;
	color: #223869;
	font-weight: 600;
}

@media (max-width: 1300px) {
	.checkout_container {
		flex-direction: column;
		div.paymentDescription {
			margin-left: 33px;
			width: 712px;
		}
		.yourOrderTitle {
			width: 100%;
		}
		.yourOrderDescription {
			width: 100% !important;
		}
	}
}

@media (max-width: 1000px) {
	.yourOrderTitle {
		width: 100%;
	}

	.checkout_direction {
		padding: 10px 15px !important;
	}
}

@media (max-width: 800px) {
	.form_aboutUser {
		input {
			max-width: 600px;
			width: 100%;
		}
	}
	.form_data {
		flex-direction: column;
	}

	.inputFoldersBlock {
		padding: 0 15px !important;
	}

	.form_aboutUser {
		label {
			line-height: 15px;
		}
		input[name='secondName'] {
			margin-left: 0 !important;
			max-width: 600px !important;
			width: 100% !important;
		}
		input[name='firstName'] {
			width: 100% !important;
		}
		input[name='phoneNumber'] {
			max-width: 600px !important;
			width: 100% !important;
		}
	}

	.userDataSidebar {
		width: 500px !important;
		padding: 0 40px 0 0;
		margin-left: 32px;
	}
	.paymentDescription {
		max-width: 430px !important;
		width: 100%;
	}

	.detailInformation {
		width: 100% !important;
	}

	.prevAndNextBtnBlock {
		max-width: 100%;
		button {
			width: 100% !important;
			margin-left: 0px !important;
			margin-top: 0 !important;
		}
	}
}

@media (max-width: 500px) {
	.paymentDescription,
	.userDataSidebar {
		max-width: 400px !important;
	}
	.userDataSidebar {
		margin-left: 32px !important;
	}

	.checkout ul {
	}

	.basketCard {
		min-width: 360px !important;
		.added_to_basket {
			width: 400px !important;
		}
	}

	.inputFoldersBlock .ml-6 {
		margin-left: 0 !important;
	}

	.titleAndPriceColumn {
		flex-direction: column !important;
	}
}

@media (max-width: 440px) {
	.paymentDescription {
		width: 320px !important;
	}
	.userDataSidebar {
		width: 330px !important;
		padding: 0 10px 0 0;
		.form_block {
			margin-left: 0 !important;
		}
	}
}
