footer {
	background-color: #2c2c2c;
	margin-top: 40px;
	padding-bottom: 40px;
	justify-content: space-around;

	div {
		margin-top: 22px;
	}

	h5 {
		margin-bottom: 20px;
	}
}

@media (max-width: 700px) {
	.footer {
		display: flex;
		flex-direction: column;
		.footerBlock,
		.footerLogo {
			margin: 20px 0;
		}
	}
	footer div,
	footer .footerBlock {
		margin: 20px auto !important;
		align-items: center !important;
	}
}
