.search_result {
	width: 600px;
	margin: auto;
}

.cardElement {
	border-radius: 2px;
	margin: 20px 0;
	border: 1px solid transparent;
	transition: 0.5s ease;
}
.cardElement:hover {
	border: 1px solid red;
}

.notFound_products {
	border: 1px solid #1d4ed8;
	width: 500px;
	height: 400px;
	padding: 22px;
	.allProoduct {
		color: red;
		font-size: 20px;
		text-transform: uppercase;
		font-weight: bold;
		border: 1px solid red;
		padding: 12px;
		transition: 0.2s ease color;
	}
	.allProoduct:hover {
		background: red;
		color: white;
	}
}

@media (max-width: 630px) {
	.searchContent {
		overflow-x: hidden;
		min-width: 350px;
		.cardElement {
			padding: 10px 18px;
		}
	}
	.notFound_products {
		width: 320px;
		margin-left: 12px;
		.allProoduct {
			font-size: 15px;
			padding: 5px;
		}
		.search_result_info {
			font-size: 16px;
		}
	}

	.search_result_image {
		width: 200px;
	}
}

@media (max-width: 460px) {
	.search_result_image {
		width: 120px;
		height: 120px;
		margin-top: 20px;
	}
	.search_result_info {
		font-size: 14px;
	}
	.searchContent .cardElement {
		padding: 0 10px;
	}
}
